aioredis==1.3.1
asgiref==3.3.1
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.6
daphne==3.0.1
Django==3.1.6
django-crispy-forms==1.11.2
fontawesome-free==5.15.3
hiredis==1.1.0
hyperlink==21.0.0
idna==3.1
incremental==21.3.0
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==1.0.2
Pillow==8.1.1
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.6.0
pymongo==3.11.3
pyOpenSSL==20.0.1
pytz==2021.1
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
wincertstore==0.2
wrapt==1.12.1
zope.interface==5.2.0
