<!-- add inside the folder named on the chatapp
because django accesses it first
 -->
{% extends 'base.html' %}

{% block content %}

<!-- add the html here to edit the page -->
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
<div class="container">
	<!-- 
	using an if else block to give different option
	for logged in and logged out -->
	{% if request.user.is_authenticated %}

		What chat room would you like to enter?<br>

		<!-- ask the chatroom name from user -->
    	<input id="room-name-input" type="text" size="100">
    	<br> 
    	<input id="room-name-submit" type="button" value="Enter">

	{% else %}
		<h2>this will contain code to create a chatroom (limited time)(not logged in)</h2>
	{% endif %}	

</div>

<script>
    document.querySelector('#room-name-input').focus();
	document.querySelector('#room-name-input').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/room/' + roomName + '/';
    };
</script>

{% endblock content %}