<!-- add inside the folder named on the chatapp
because django accesses it first
 -->
{% extends 'base.html' %}

{% block content %}

<!-- add the html here to edit the page -->
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
	.column{
		float:left;
		width:100%;
	}
	.vl {
  border-left: 6px solid gray;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->

 <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="column col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Create Chatroom</h1>
      <p class="lead fw-normal">Instantly host a chatroom without registering yourself.</p>
    </div>

<!--	 <div class="vl"></div>-->
<!--	-->
	 <div class="column col-md-6 p-lg-5 mx-auto my-5">
		<form action="" method="post">

  		<div class="form-group row">
    	<div class="col-sm-6">
      		{% csrf_token %}
			{{form.as_p}}
		<button type="submit" class="btn btn-primary">Quick Chat</button>
    	</div>
  		</div>
		</form>

    </div>
  </div>

<div class="container">
	<!-- 
	using an if else block to give different option
	for logged in and logged out -->
	{% if request.user.is_authenticated %}

		What chat room would you like to enter?<br>

		<!-- ask the chatroom name from user -->
    	<input id="room-name-input" type="text" size="100">
    	<br> 
    	<input id="room-name-submit" type="button" value="Enter">

	{% else %}

		<!-- here will we ask of unknown user's user handle and room name -->
		<!-- we will try to use forms -->

		<!-- <input id="user-input" type="text" size="100">
    	<br>
		<h5>Room Name: </h5>
		<input id="room-input" type="text" size="100">
    	<br> 
    	<input id="room-submit" type="button" value="Quick Chat"> -->

	{% endif %}	

</div>

<script>
	// different script for different authenticated and unauthenticated
	{% if request.user.is_authenticated %}
		// for the all time room
    document.querySelector('#room-name-input').focus();
	document.querySelector('#room-name-input').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/room/' + roomName + '/';
    };
	{% else %}
		// for the limited time room inputs
	// document.querySelector('#room-input').focus();
	// document.querySelector('#room-input').onkeyup = function(e) {
	// 	if (e.keyCode === 13) {  // enter, return
 //            document.querySelector('#room-submit').click();
 //        }
 //    };

 //    document.querySelector('#room-submit').onclick = function(e) {
 //        var roomName = document.querySelector('#room-input').value;
 //        var handle = document.querySelector('#user-input').value;

 //        window.location.pathname = '/quickchat/' + roomName + '/';
 //    };
	{% endif %}

    
</script>

{% endblock content %}