<!-- add inside the folder named on the chatapp
because django accesses it first
 -->
{% extends 'base.html' %}
<!-- for the image source -->
{% load static %}

{% block content %}

<!-- add the html here to edit the page -->
<style type="text/css">
    /*for the append function*/
    .chat-log-class {
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        background-color: #fff;
        font-size: 0.9em;
        flex-direction: column-reverse;
    }
    .profile-image{
        width: 33px;
        height: 33px;
        margin-top: 0px;
        margin-bottom: auto;
    }
    .profile-image:hover{
        cursor: pointer;
    }
    .msg-p{
        font-weight: 450;
        margin-top: 5px;
        margin-bottom: auto;
        margin-left: 5px;
        margin-right: 5px;
        white-space: normal;
        -ms-word-break: break-all;
        word-break: break-all;
    }
    .message-container{
        margin-top: 10px;
        justify-content: start;
    }

    /*these one for real original thing*/
    .my-grid{
        border: 1px solid black;
    }
    .my-grid-item{
        border: 1px solid blue;
    }

    /*this styles are for the list of users connect*/
    .users-container:hover{
        background: var(--main-background-color);
        cursor: pointer;
    }
    .users-list-container{
        max-height: 500px;
        overflow-y: scroll;
    }
    .logsize{
        min-width: 800px;
    }
    .listsize{
        min-width: 300px;
    }

</style>

<div class="container">
    <div class="row">
        
        <!-- start of chat log -->
        <div class="col-sm-3 m-0 p-2 logsize">
            <div class="card">

                <!-- head of the chat window -->
                <div class="card-header d-flex flex-row align-items-center">
                    <div class="d-flex flex-row justify-content-between">
                    
                    <!-- name of current room -->
                    <h3 class="">{{room_name}}</h3>
                    </div>
                </div>
                
                <!-- body of the chat window -->
                <div class="car-body p-1">
                    <div class="d-flex flex-column">
            
                    <!-- main part -->

                    <!-- for the append function -->
                    <div class="d-flex chat-log-class" id="chat-log">
                    
                    </div>
            
                    <!-- message send input -->
                    <div class="d-flex">

                    <!-- write here -->
                    <input class="flex-grow-1" id="chat-message-input" type="text">


                    <!-- send button -->
                    <button class="btn btn-primary">
                    <span id="chat-message-submit">Send</span>
                    </button>
                    </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- end of chat log -->

    <!-- here we are trying to display the name of users that are present in the chatroom -->

    <div class="col-sm-3 m-0 p-2 listsize">
            <div class="card">

                <!-- header of list -->
                <div class="d-flex flex-row align-items-center card-header">
                    <h3 >Members in room</h3>
                </div>

                <!-- body of list -->
                <div class="card-body p-1"> 
                    <div class="d-flex flex-column users-list-container" id="users-list">
                        <!-- this will contain list of my connected users -->
                    </div>
                </div>
            </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    </div>
</div>

<!-- this contacts with web socket and send and receive messages -->
<script type="text/javascript">

    const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/room/'
            + roomName
            + '/'
        );

        // socket calls this function whenever new message sent
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            // add new message to chat log area

            // trying append function
            appendChatMessage(data, true, true)
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // on writing message
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        // on clicking button
        document.querySelector('#chat-message-submit').onclick = function(e) {
            // get the message from input area
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            
            // send the message
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };


        // append function to add new message
        function appendChatMessage(data, maintainPosition, isNewMessage)
        {
            // check if it is about connected users list
            if (data['update_list'])
                createUsersList(data['connected_users'])
            
            // always getting message wheter typed, leaving, joining
            if(true)
            {
                message = data['message']
                timestamp = data['natural_timestamp']

                // data should contain username
                user_id = data['user_id']
                uName = data['username']

                var username = uName + ':';
                var msg = message + '\n';

                console.log("messae is"+msg);
                // create a message element (looks good)
                createChatMessageElement(msg, username, user_id, timestamp, maintainPosition, isNewMessage)

                console.log("after adding message")
            }
            
        }

        // this function will modify the connected users element list
        function createUsersList(connected_users)
        {
            console.log("inside list");
            // get the users list container
            var userList_l = document.getElementById("users-list")
            var userList = document.createElement("users-list-container")

            console.log("connected users are: ", connected_users)

            // append all users in that list
            var len = connected_users.length;

            for (i=0; i < len; i++)
            {   
                user = connected_users[i][0]
                id = connected_users[i][1]
                console.log("user name is: ", user)

                var my_user = document.createElement("div")
                my_user.classList.add("users-container")
                my_user.classList.add("d-flex")
                my_user.classList.add("flex-row")
                my_user.classList.add("p-2")
                my_user.classList.add("flex-grow-1")

                var my_user_name = document.createElement("div")
                my_user_name.classList.add("d-flex")
                my_user_name.classList.add("flex-column")

                var user_name_span = document.createElement("span")
                user_name_span.classList.add("username-span")
                // most importantly add users
                var name = document.createElement("p")
                name.innerHTML = user
                name.classList.add("msg-p")

                // add name to name span
                user_name_span.appendChild(name)

                // append name
                my_user_name.append(user_name_span)

                // append name to user
                my_user.append(my_user_name)

                // add the link to user account also
                // expensive feature
                var user_url = document.createElement("a")
                user_url.href = '/account/'+ id
                user_url.innerHTML = 'view'

                my_user.appendChild(user_url)

                // append to user list
                userList.appendChild(my_user)
            }

            // if (userList_l != null)
            //     userList_l.innerHTML = userList;
            // else
            console.log(userList)
            // we want to change it (because appending make its incrementing)
            // with redundant names
            userList_l.innerHTML = userList.innerHTML
            // userList_l.appendChild(userList)

        }

        // this functions creates a message element (good look) and also insert (not forgot)
        function createChatMessageElement(msg, username, user_id, timestamp, maintainPosition, isNewMessage)
        {
            // get the main part of chat log
            var chatLog = document.getElementById("chat-log")

            // create a message div variable
            var newMessageDiv = document.createElement("div")
            newMessageDiv.classList.add("d-flex")
            newMessageDiv.classList.add("flex-row")
            newMessageDiv.classList.add("message-container")

            // create a profile image variable
            var profileImage = document.createElement("img")

        
            profileImage.classList.add("profile-image")
            profileImage.classList.add("rounded-circle")
            profileImage.classList.add("img-fluid")

            // add the image to this image variable
            profileImage.src = "{% static 'icons/account.png' %}"

            // add this image variable to message variable (may with inbuilt function)
            newMessageDiv.appendChild(profileImage)

            // this will store message
            var div1 = document.createElement("div")
            div1.classList.add("d-flex")
            div1.classList.add("flex-column")

            // div element for details
            var div2 = document.createElement("div")
            div2.classList.add("d-flex")
            div2.classList.add("flex-row")
            
            // trying to get username
            // only authenticated allowed here

            // create and add username element
            // calling function select user with current user_id
            var usernameSpan = document.createElement("span")
            usernameSpan.addEventListener("click", function(e){
                selectUser(user_id)
            })

            usernameSpan.classList.add("username-span")
            usernameSpan.innerHTML = username  // got from upper
            div2.appendChild(usernameSpan)

            // create and add timestamp to div2
            var timestampSpan = document.createElement("span")
            timestampSpan.innerHTML = timestamp
            timestampSpan.classList.add("timestamp-span")
            timestampSpan.classList.add("d-flex")
            timestampSpan.classList.add("align-items-center")
            timestampSpan.addEventListener("click", function(e){
                selectUser(user_id)
            })
            div2.appendChild(timestampSpan)

            // add div2 element to div1
            div1.appendChild(div2)

            // most importantly add the message
            var msgP = document.createElement("p")
            msgP.innerHTML = msg
            msgP.classList.add("msg-p")

            // add msgP variable to div1
            div1.appendChild(msgP)

            // similaryly
            newMessageDiv.appendChild(div1)

            // insert the newly created newMessage div variable to chatLog variable (main thing)
            if(isNewMessage){
            chatLog.insertBefore(newMessageDiv, chatLog.firstChild)
            }
            else{
                chatLog.appendChild(newMessageDiv)
            }

            // automated thing i.e, scrolling
            if(!maintainPosition){
                chatLog.scrollTop = chatLog.scrollHeight
            }


            // end of append function
        }

        // function to get username using user id
        function selectUser(user_id){
            // some weird url 
            var url = "{% url 'account:view' user_id=53252623623632623 %}".replace("53252623623632623", user_id)
            var win = window.open(url, "_blank")
            win.focus()
        }

</script>

{% endblock content %}



