{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	.profile-image{
		max-height: 100px;
		max-width: 100px;
		border-radius: 12px;
	}
	a{
		color:inherit;
	}
	.text-style{
		font-size: 18px;
		color:black;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	.card{
		border-radius: 12px;
	}
	.dropdown-toggle::after { 
		content: none; 
	}

	.container{
		margin-top:20px;
	}
	.header{
		display: flex;
		font-size: 36px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: 600;
		justify-content: center;
	}
</style>
<div class="container">
	{% if blogs %}
	<div class="flex container mx-2 my-3 header">
		Your Posts
	</div>
	<table class="table table-success">
		<thead class="thead-dark">
		  <tr>
			<th scope="col">S.No.</th>
			<th scope="col">Title</th>
			<th scope="col">Posted On</th>
			<th scope="col">Status</th>
			<th scope="col">Change Status</th>
		  </tr>
		</thead>
		<tbody class="text-style">
			{% for post in blogs %}
			<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td>	<a class="profile-link" href="{% url 'blogs:post_detail' post.slug  %}">
					{{post.title}}
			</a>
		</td>
			<td>{{post.created_on}}</td>
			{% if post.status %}
				<td>Published</td>
			{% else %}
				<td>Drafted</td>
				{% endif %}

			<td>
				<a class="btn btn-success" href="{% url 'blogs:update_status' post.slug %}">
					Change
				</a>
			</td>
			</tr>
		  {% endfor %}
		</tbody>
	  </table>
	  		{% else %} <!-- If no blogs -->
		
			<div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
			<p>You haven't written any blogs yet.</p>
		</div>
		{% endif %}
	</div>
	
</div>


{% endblock content %}

